@import 'config';

// CUSTOM USER STYLES & IMPORTS

.header {
    background-image: url(../img/header-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 793px;
}

// https://www.youtube.com/watch?v=kLLx9BWqPJI&t=8155s